/*thhis css code is for both index home pge and about page*/
html{
    scroll-behavior:smooth;

}
body{
    background-color: rgba(237, 237, 237, 0.795);
    font-family: Playfair Display;
}
.about{
    background-color: rgb(255,246,228);
border-radius:0.5rem;
}
.card{
    border-bottom: 8px solidrgb(255,246,228);
}
.m-heading{
    background-color: rgb(234, 198, 222);
    border-radius: 20px;
    text-align: center;
}
#socialMedia{
    background-color: rgb(196, 203, 255);
}
.medialink{
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px dashed;
    border-radius: 0.5rem;
}
.headerfooter{
    background-color: rgba(174,209,233);
}
#section0{
    width: auto;
    height: auto;
    padding: 20px;
    color:black ;
    background-color:rgb(255,246,228);
    
}
#section1{
    width: auto;
    height: auto;
    padding: 20px;
    color:black ;
    background-color: rgba(174,209,233);
    
}
#section2{
    width: auto;
    height: auto;
    padding: 20px;
    color:black ;
    background-color:rgb(255,246,228);
}
#section0, #section1, #section2 {
    margin: 0;
}
#image0{
    height: 300px;
    box-shadow: 9px 9px rgba(174,209,233);
    margin-top:30px;
    margin-right: 10%;
    
}
#introbox{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 20px;

}    
#box{
    background-color:rgb(255,246,228) ;
    border-radius: 10px;
}
#imagebox{
    box-shadow: 0px 4px 10px rgb(151, 150, 150);
    
}
#isgrimg{
    height: 185px;
    box-shadow: 9px 9px rgba(174,209,233);
    margin-top:20px;
    margin-left: 1%;
    align-items: center;
}
.isgrcommunity{
    margin-top: 12px;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
}
h3, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
ul{
    font-weight: bold;
}
#Click-ToLearn{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



