html{
    scroll-behavior:smooth;

}
body{
    background-color:rgb(255,246,228);
    font-family: Playfair Display;
}



.headerfooter{
    background-color: rgba(174,209,233);
}
#section0{
    width: auto;
    height: auto;
    padding:20px ;
    color:black ;
    background-color:rgb(255,246,228);
    
}
#section1{
    
    width: auto;
    height: auto;
    padding:20px ;
    color:black ;
    background-color: rgba(174,209,233);
    
}
#section2{
   width: auto;
    height: auto;
    padding:20px ;
    color:black ;
    background-color:rgb(255,246,228);
}
#section0, #section1, #section2 {
    margin: 0;
}

#introText{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:20px;

}
.container1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.container1 .text {
    width: 50%;
}
.container1 .image {
    width: 50%;
}
.container1 img {
    max-width: 100%;
    height: auto;
}
