html{
    scroll-behavior:smooth;

}
body{
    background-color: rgba(237, 237, 237, 0.795);
    font-family: Playfair Display;
}



.headerfooter{
    background-color: rgba(174,209,233);
}
#section0{
    height: 600px;
    color:black ;
    background-color:rgb(255,246,228);
    
}
#section1{
    
    height: 650px;
    color:black ;
    background-color: rgba(174,209,233);
    
}
#section2{
   
    height: 650px;
    color:black ;
    background-color:rgb(255,246,228);
}
#section0, #section1, #section2 {
    margin: 0;
    padding: 0;
}

#introText{
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:20px;

}
