html{
    scroll-behavior:smooth;

}
body{
    background-color: rgba(237, 237, 237, 0.795);
    font-family: Playfair Display;
}



.headerfooter{
    background-color: rgba(174,209,233);
}
#section0{
    width: auto;
    height: auto;
    padding:20px ;
    background-color:rgb(255,246,228);
    
}
#section1{
    
    width: auto;
    height: auto;
    padding:20px ;
    background-color: rgba(174,209,233);
    
}
#section2{
   
    width: auto;
    height: auto;
    padding:20px ;
    background-color:rgb(255,246,228);
}
#section3{
    
    width: auto;
    height: auto;
    padding:20px ;
    background-color: rgba(174,209,233);
    
}
#section0, #section1, #section2, #section3{
    margin: 0;
}
.cite {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.cite .text {
    width: 50%;
}
.cite .image {
    width: 50%;
}
.cite img {
    max-width: 100%;
    height: auto;
}
.image2{
    margin: auto;
    border-radius:700px;
}

h3, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
ul{
    font-weight: bold;
}

.faq-container {
    width: auto;
    max-width:1000px;
    
}
.faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
.faq-question {
    padding: 15px;
    background-color: rgba(174, 209, 233, 0.741);
    cursor: pointer;
    font-weight: bold;
}
.faq-answer {
    display: none;
    padding: 15px;
    background-color: rgba(194, 219, 235, 0.452);
}