html{
    scroll-behavior:smooth;

}
body{
    background-color: rgba(237, 237, 237, 0.795);
    font-family: Playfair Display;
}



.headerfooter{
    background-color: rgba(174,209,233);
}
#section0{
    width: auto;
    height: auto;
    padding:20px ;
    background-color:rgb(255,246,228);
    
}
#section1{
    
    width: auto;
    height: auto;
    padding:20px ;
    background-color: rgba(174,209,233);
    
}
#section2{
   
    width: auto;
    height: auto;
    padding:20px ;
    background-color:rgb(255,246,228);
}

#section0, #section1, #section2{
    margin: 0;
}
.studypics{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.cite {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.cite .text {
    width: 50%;
}
.cite .image {
    width: 50%;
}
.cite img {
    max-width: 100%;
    height: auto;
}
